extends main
block content
    form(action="/contact" method="post")
        .flex.justify-center.py-10
            .form-control.max-w-md
                label.label(for="name")
                    span.label-text What is your name?
                input.input.input-bordered(id="name"
                    name="name",
                    type ="text"
                    placeholder="Your Name",
                    required
                    )

                label.label(for="email")
                    span.label-text Your Email
                input.input.input-bordered(id="email",
                    name="email"
                    type="email"
                    placeholder="Your Email"
                    required
                )

                label.label(for="message")
                    span.label-text Message
                textarea.textarea.textarea-bordered.resize-none(id="message",
                    name="message",
                    placeholder=`Enter your message here.`,
                    rows="5",
                    required
                )

                label.label.cursor-pointer
                    input.checkbox.checkbox-md.mx-2.checkbox-secondary(type="checkbox" required)
                    span.label-text I promise I won't abuse this, will not send any illegal or hateful content, or enter anything otherwise inappropriate in this form.

                button.btn.btn-primary.my-4(type="submit") Submit
